@{
    ViewData["Title"] = "Home Page";
}

<div>
@ViewData["Title"]
<span>ContractRoot: @ViewBag.data[0].ContractRoot</span><br>
<span>Kind: @ViewBag.data[0].Kind</span><br>
<span>Balance: @ViewBag.data[0].Balance</span><br>
<span>Address: @ViewBag.data[0].Address</span><br>
<span>LatestBlockNum: @ViewBag.data[0].LatestBlockNum</span><br>
<span>LatestBlockId: @ViewBag.data[0].LatestBlockId</span><br>


</div>


